---
import Layout from '../layouts/Layout.astro';
import { Header } from '../components/Header';
import { Hero } from '../components/Hero';
import { Features } from '../components/Features';
import { Diferencial } from '../components/Diferencial';
import { FAQ } from '../components/FAQ';
import { CTA } from '../components/CTA';
import { Footer } from '../components/Footer';
import '../styles/global.css';
---

<Layout title="Capitare - Infraestrutura de Mercado de Capitais">
  <Header client:load />
  <main>
    <Hero client:visible />
    <Features client:visible />
    <Diferencial client:visible />
    <FAQ client:visible />
    <CTA client:visible />
  </main>
  <Footer />
</Layout>
